<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>

  <% if (user) { %>
    <h1>Your saved Cocktails</h1>
    <br>
  <h3>Browse your saved drinks </h3>



  <div class="display-cards">
  <% savedCocktails.forEach(e => { %>
  
    <div class="card" style="width: 18rem; margin: 10px 0; background-color: blanchedalmond; border: black solid 1px;" >
      <img src="<%= e.imgSrc%> " class="card-img-top" alt="...">
      <div class="card-body" >
        <h5 class="card-title" ><%=e.drinkName%></h5>
        <p class="card-text"><%= e.directions %> </p>
      </div>
      <ul class="list-group list-group-flush"  >
        <li class="list-group-item" style="background-color: blanchedalmond;"><strong>Amount and Ingredient</strong> </li>
        <% for( let i = 0; i < e.items.length; i++ ) { %>
          <% if (e.items[i]!== null && e.items[i]!== "") { %>
        <li class="list-group-item" style="background-color: blanchedalmond; ">
          <%=e.amount[i]%> : <%= e.items[i]%>  </li>
        <% }} %>
      </ul>
      <div class="card-body" >
        <% if (user) { %>
          <form action="/profiles/<%=e._id%>?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger">Remove Recipe</button>
      </form>
      
      <form action="/profiles/<%=e._id%>" method="GET">
        <button type="submit" class="btn btn-info">Add comment</button>
      </form>
      <% } %>
      </div>
    
    </div>
  
    <% }) %>
 







<% } else { %>
  <div class="show-nonuser">
  <h1>Welcome to the Cocktail Rolodex</h1>
  <h2> Please sign-in to access all the features inside!</h2>
  <h2>Without Signing in you only option is to select a random cocktail</h2>
  
    <h3>Feeling adventurous maybe you would like a random beverage</h3>
    <form action="/cocktails/random" method="POST">
      <button class="btn btn-warning btn-lg btn-block">Random Cocktail</button>
    </form>



    <form action="/profiles/all" method="GET">
      <button class="btn btn-warning btn-lg btn-block">Show all saved cocktails</button>
    </form>

  
  
  <% } %>
  </div>
 </main>

<%- include('./partials/footer') %>
