<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
  
  <main>
    
  <img src="<%= cocktail.imgSrc%> " class="cocktail-comment" alt="...">
    <br>
    <div class="show-text" >
      <h2><strong> <%=cocktail.drinkName%> </strong></h2>
      <p class="text"><%= cocktail.directions %> </p>
    
    <ul>
      <% for( let i = 0; i < cocktail.items.length; i++ ) { %>
        <% if (cocktail.items[i]!== null) { %>
      <li class="text"><%=cocktail.amount[i]%> : <%= cocktail.items[i]%>  </li>
      <% }} %>
    </ul>
    
      <% if (user) { %>
<form action="/profiles/<%=cocktail._id%>?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-danger btn-lg">Delete Recipe</button>
</form>
<br>

<% cocktail.comments.forEach(c => { %>
  <form action="/profiles/<%=cocktail._id%>/comments/<%=c._id%>?_method=DELETE" method="POST">
    
    <h3><%= c.comments %> <button type="submit" class="btn btn-danger btn-sm">X</button></h3>
    
  
  </form>
<% }) %> 
<form action="/profiles/<%=cocktail._id%>/comments" method="POST" >
      <div>
      <textarea id="comments" name="comments" placeholder="Add Comments"
          rows="5" cols="55" >
</textarea>
<br>
<button type="submit" class="btn btn-success">Submit</button>
    </form>
    <% } %>
  </div>
</div>
  </main>

    <%- include('./partials/footer') %>