<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<h1>What we found for you!</h1>


<div class="display-cards">
<% sendCocktail.forEach(e => { %>
  
  <div class="card" style="width: 18rem; margin: 10px 0; ">
    <img src="<%= e.img%> " class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%=e.title%></h5>
      <p class="card-text"><%= e.directions %> </p>
    </div>
    <ul class="list-group list-group-flush">
      <% for( let i = 0; i < e.items.length; i++ ) { %>
        <% if (e.items[i]!== null) { %>
      <li class="list-group-item"><%=e.amount[i]%> : <%= e.items[i]%>  </li>
      <% }} %>
    </ul>

    <div class="card-body">
      <% if (user) { %>
      <form action="/profiles" method="POST">
      <input type="text" name="drinkName" hidden value="<%=e.title%>">
      <input type="text" name="imgSrc" hidden value="<%=e.img%>">
      <% for( let i = 0; i < e.amount.length; i++ ) { %>
      
    <% if (e.items[i]!==null) { %>
      <input type="text" name="items" hidden value="<%=e.items[i]%>">
    <% } %>
      <% if (e.amount[i]!== null) { %>
        <input type="text" name="amount" hidden value="<%=e.amount[i]%>">
        <% } %>
      <% } %>
      <input type="text" name="directions" hidden value="<%=e.directions%>">

      <button type="submit" class="btn btn-success">Save to Rolodex</button>
    </form>
    <% } %>
    </div>
  </div>

  <% }) %>


</div>





</ul>
</main>

<%- include('../partials/footer') %>